.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stock-table {
  text-align: center;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
